# general excludes
.idea/
.env
*~
*.bak

# project specific excludes
app/filestore/
app/.svn/
doc/sql/
app/var/log/
provision/_data/

# we're copying the env config in entypoint
app/include/config.php